@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    
}

body {
    background-color: rgb(255, 255, 255);
    
    display: flex;

    /* LEMBRETE: Teste abaixo*/
    flex-direction: column; /* creates rows out of the elements main and footer */
    height: 100vh; 
    
    overflow-x: hidden; 
}

.main{
    text-align: center;

    /* LEMBRETE: Teste abaixo*/
    flex: 1 0 auto; /* allows the content to grow but not shrink */
}

/* --------------------------------------------------- */

.logo-container{
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    margin-bottom: 50px;
}
.logo-container_img{
    
    width: 500px;
    height: 500px
}

/* LEMBRETE: Fall pica */
@media (max-width: 600px)
{
    .logo-container_img{
        width: 100%;
        height: 100%;
    }
}
/* --------------------------------------------------- */
.pessoas-container{
    display: flex;
    gap: 19px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px; /* LEMBRETE: estava como margin bottom */
}
.foto-pessoa{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.pessoa{
    color: white;
    width: 340px;
    height: 320px;
    background-color: #ff6900;
    padding: 20px;
    border-radius: 5%;
}
.nome{
    font-size: 30px;
    margin-bottom: 2px;
    text-decoration: underline;
}
.cargo{
    font-size: 26px;
    margin-bottom: 5px;
}
.descrição{
    font-size: 20px;
    
}

/* --------------------------------------------------- */

.fazemos-container{
    background-color: aqua; /* CONTINUAR AQUI!, esse aqui será tipo um "sobre nós", colocar o que fazemos no setor, homologação, melhorias etc */
    width: 100vw;
    height: 100vh;
}

/* --------------------------------------------------- */

.footer-container{
    background-color: #ff6900;
    display: flex;
    gap: 24px;
    justify-content: center;
}
.conteiner-contato{
    padding: 10px;
}


