@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    /* LEMBRETE: Teste abaixo*/
    flex-direction: column; /* creates rows out of the elements main and footer */
    height: 100vh; 
    overflow-x: hidden; 
}

.main{
    /*text-align: center;*/
    /* LEMBRETE: Teste abaixo*/
    flex: 1 0 auto; /* allows the content to grow but not shrink */
}


/* --------------------------------------------------- */


li, a {
    color: rgb(255, 255, 255); /* TODO: trocar a cor */
    text-decoration: none;
    
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: #ff6900;
}

.logo-navbar {
    margin-right: auto;
    width: 90px;
    height: 62px;
    cursor: pointer;
}

@media (max-width: 600px)
{
    .logo-navbar{
        display: none;
    }
}

.navbar-links{
    list-style: none;
}

.navbar-links li {
    font-size: 20px;
    display: inline-block;
    padding: 0px 20px;
}

.navbar-links li a {
    
    transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
    /* color: rgb(255, 255, 255); */ 
    text-shadow: 0px 3px #272727;
}

button {
    font-size: 20px;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(254, 255, 255, 1);
    color: #ff6900;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(254, 255, 255, 0.8);
}



/* --------------------------------------------------- */


.logo-container{
    
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    margin-bottom: 50px;
    text-align: center;
}
.logo-container_img{
    
    width: 500px;
    height: 500px
}

/* LEMBRETE: O Fall é pica */
@media (max-width: 600px)
{
    .logo-container_img{
        width: 100%;
        height: 100%;
    }
}


/* --------------------------------------------------- */


.pessoas-container{
    text-align: center;
    display: flex;
    gap: 19px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px; /* LEMBRETE: estava como margin bottom */
}
.foto-pessoa{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.pessoa{
    color: white;
    width: 340px;
    height: 320px;
    background-color: #ff6900;
    padding: 20px;
    border-radius: 5%;
}
.nome{
    font-size: 30px;
    margin-bottom: 2px;
    text-decoration: underline;
}
.cargo{
    font-size: 26px;
    margin-bottom: 5px;
}
.descrição{
    font-size: 20px;
    
}


/* --------------------------------------------------- */


.sobrenos-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 30px;
    gap: 50px;
}

@media (max-width: 890px)
{
    .sobrenos-imagem{
        display: none;
    }
}

.sobrenos-titulo {
    text-align: center;
    font-size: 40px;
}

.sobrenos-paragrafo {
    padding: 50px;
    width: 500px;
    font-size: 26px;
    text-align: center;
}


/* --------------------------------------------------- */


.footer-container{
    background-color: #ff6900;
    display: flex;
    gap: 24px;
    justify-content: center;
}
.conteiner-contato{
    padding: 10px;
}


